.card-container{
    width: 33%;
    max-width: 400px;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.199);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    position: relative;
}
.overflow {
    max-height: 200px; 
    overflow: auto; 
}

.poster{
    display: flex;
    width: 100%;
}
.card-container img{
    margin: 0 auto;
    /* max-height: 250px; */
    object-fit: contain;
    width: 55%;
    margin-top: 15px;
}
.card-container h3 {
    font-weight: 400;
    font-size: 16px;
    color: #000000b5;
}


.btn{
    background: #3c3d3e90;
    position: absolute;
    top: 16px;
    left: 89%;
    transform: translateX(-50%);
    padding: 14px 0;
    width: 50px;
    text-align: center;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 50;
}
.btn:hover {
    background: #141420;
    box-shadow: 0 0 10px #1f1f1f5a;
    font-size: 1.025rem;
}