.list-page > h1{
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 400;
}
.list-page h2{
    margin-top: 10px;
}
.result{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

