* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f3f4f6;
}
span, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
}
p, a, h1{
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}

a{
  text-decoration: none;
}

span{
  font-weight: 500;
  font-size: 1.3rem;
}